{include file="common:meta" /}

<title>下级代理 - RSCMS_V2</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>

<body>
    <div class="mt-20">
        <div class="table-responsive">
            <table style="white-space: nowrap;word-break:keep-all;" class="table table-border table-bordered table-hover table-bg table-sort" id="table">
                <tr class="text-c">
                    <th width="50">ID</th>
                    <th>账号</th>
                    <th>昵称</th>
                    <th width="70">openId</th>
                    <th width="50">上级ID</th>
                    <th>等级</th>
                    <th>钻石</th>
                    <th>积分</th>
                    <th width="">加入时间</th>
                    <th>是否锁定</th>
                </tr>
                {volist name="data" id="vo"}
                <tr class="text-c">
                    <td id="id1">{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.nickName}</td>
                    <td>{$vo.openId}</td>
                    <td>{$vo.pid}</td>
                    <td>{$vo.level}</td>
                    <td>{$vo.cardNum}</td>
                    <td>{$vo.score}</td>
                    <td>{$vo.createTime}</td>
                    <td>{if condition="$vo.locked==0"}未锁定{else /}锁定{/if}</td>
                </tr>
                {/volist}
            </table>
        </div>
        <div style="float: right;">{$page}</div>
    </div>
    <!--/请在上方写此页面业务相关的脚本-->
</body>

</html>