<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico" >
    <link rel="Shortcut Icon" href="favicon.ico" />
    <!--[if lt IE 9]>
    {load href="__STATIC__/admin/lib/html5.js"}
    {load href="__STATIC__/admin/lib/respond.min.js"}
    <![endif]-->
    {load href="__STATIC__/admin/static/h-ui/css/H-ui.min.css"}
    {load href="__STATIC__/admin/static/h-ui.admin/css/H-ui.admin.css"}
    {load href="__STATIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css"}
    {load href="__STATIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin"}
    {load href="__STATIC__/admin/static/h-ui.admin/css/style.css"}
    {load href="__STATIC__/menu/menu/jquery-3.2.1.min.js"}
    {load href="__STATIC__/admin/css/style.css"}
    <!--[if IE 6]>
    {load href="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"}

    <![endif]-->
    <!--/meta 作为公共模版分离出去-->