{include file="common:meta" /}

<title>代理管理 - 代理列表 - RSCMS_V2</title>
<meta name="keywords" content="">
<meta name="description" content="">
<style>
    #pname {
        position: relative;
        top: 10px;
        font-size: 14px;
    }
</style>
</head>

<body>
    {include file="common:header" /} {include file="common:menu" /}

    <section class="Hui-article-box">
        <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="{:url('index/index')}">首页</a> <span class="c-gray en">&gt;</span> 代理管理 <span class="c-gray en">&gt;</span> 代理列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
                title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
        <div class="Hui-article">
            <article class="cl pd-20">
                <div class="cl pd-5 bg-1 bk-gray mt-20" style="margin-top: 0px;">
                    <div class="l"><a onclick="agent_add_s()" class='btn btn-secondary-outline radius'><i class='Hui-iconfont'>&#xe600;</i> 添加代理</a>
                    </div>
                    <div class="l">
                        {$child_nick ? "
                        <div><a onclick='member_add_user($child_id);' class='btn btn-secondary-outline radius'><i class='Hui-iconfont'>&#xe600;</i> 添加($child_nick)的下级</a></div>" : "
                        <div><a onclick='user_add_s();' class='btn btn-success-outline radius'><i class='Hui-iconfont'>&#xe600;</i> 添加用户</a></div>"}
                    </div>
                    <div class="l">
                        {$child_nick ? "
                        <div><a onclick='daili_add($child_id);' class='btn btn-secondary-outline radius'><i class='Hui-iconfont'>&#xe600;</i> 添加($child_nick)的下级代理</a></div>" : ""}
                    </div>
                </div>
                <form class="form-inline" role="form" method="get" action="{:url('agent/search')}">
                    <div class="form-group">
                        <span style="color: red;">代理查询</span> 用户Id:
                        <input style="width: 120px;" type="text" class="input-text" name="userId" placeholder="请输入代理的账号Id" value="{$userId ? $userId : '';}">
                    </div>
                    <button type="submit" class="btn btn-default">代理查询</button>
                </form>
                <div id="pname">{$pname ?? ''}</div>
                <div class="mt-20">
                    <div class="table-responsive">
                        <table style="white-space: nowrap;word-break:keep-all;" class="table table-border table-bordered table-hover table-bg table-sort" id="table">
                            <tr class="text-c">
                                <th width="50">ID</th>
                                <th width="70">账号</th>
                                <th>昵称</th>
                                <th width="50">上级ID</th>
                                <th>直属下级</th>
                                <th>全部下级</th>
                                <th>直属会员</th>
                                <th>全部会员</th>
                                <th>级别</th>
                                <th>状态</th>
                                <th width="">加入时间</th>
                                <th width="">失效时间</th>
                                <th>操作</th>
                            </tr>
                            {volist name="data" id="vo"}
                            <tr class="text-c">
                                <td id="id1">{$vo.uid}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.nickName}</td>
                                <td>{$vo.pid}</td>
                                <td>{$vo.directSubAgents}<a {if condition="$vo.directSubAgents eq 0" }hidden{else /}{/if} href="javascript:;" onClick="subagent_get('下级代理','/admin.php/admin/agent/getsubagents?id={$vo.uid}&level=1','4','','550')" style="color:red"> | 查看</a></td>
                                <td>{$vo.allSubAgents}<a {if condition="$vo.allSubAgents eq 0" }hidden{else /}{/if} href="javascript:;" onClick="subagent_get('下级代理','/admin.php/admin/agent/getsubagents?id={$vo.uid}&level=0','4','','550')" style="color:red"> | 查看</a></td>
                                <td>{$vo.directMbrsNum}<a {if condition="$vo.directMbrsNum eq 0" }hidden{else /}{/if} href="javascript:;" onClick="subagent_get('下级会员','/admin.php/admin/agent/getSubMembers?id={$vo.uid}&level=1','4','','550')" style="color:red"> | 查看</a></td>
                                <td>{$vo.allMbrsNum}<a {if condition="$vo.allMbrsNum eq 0" }hidden{else /}{/if} href="javascript:;" onClick="subagent_get('下级会员','/admin.php/admin/agent/getSubMembers?id={$vo.uid}&level=0','4','','550')" style="color:red"> | 查看</a></td>
                                <td>{$vo.level}</td>
                                <td>{if condition="$vo.state eq 'PENDING'"}待审批{elseif condition="$vo.state eq 'APPROVED'"/}有效{elseif condition="$vo.state eq 'DISABLED'"/}无效{else /}未知{/if}</td>
                                <td>{$vo.createTime}</td>
                                <td>{$vo.disableTime}</td>
                                <td class="td-manage">
                                    <a href="javascript:;" onClick="member_edit('编辑','/admin.php/admin/agent/edit?id={$vo.uid}','4','','400')" class="btn btn-primary-outline radius size-MINI" style="text-decoration:none">编辑</a>
                                    <a href="javascript:;" onClick="member_re('充值','/admin.php/admin/agent/recharge?id={$vo.uid}','4','','200')" class="btn btn-secondary-outline radius size-MINI" style="text-decoration:none">充值</a>
                                    <a href="javascript:;" onClick="member_re('邮件','/admin.php/admin/user/displayMail?id={$vo.uid}','4','','400')" class="btn btn-success-outline radius size-MINI" style="text-decoration:none">邮件</a>
                                    <a style="text-decoration:none" class="btn btn-secondary-outline radius size-MINI" onClick="zhuanYi('转移','/admin.php/admin/agent/transfer?id={$vo.uid}','10001','600','270')" href="javascript:;" title="转移">转移</a>
                                    <a href="javascript:;" onclick="member_del({$vo.uid})" class="btn btn-danger-outline radius size-MINI" style="text-decoration:none">删除</a></td>
                            </tr>
                            {/volist}
                        </table>
                    </div>
                    {$quick ?? ''}
                </div>
                <div style="float: right;">{$page}</div>
            </article>
        </div>
    </section>

    {include file="common:footer" /}


    <script type="text/javascript">
        /*用户-编辑*/
        function member_edit(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
        /*卡号-编辑*/
        function edit_bank_card(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
        /*密码-修改*/
        function change_password(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
        /*密码-修改*/
        function zhuanYi(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
        /*用户-删除*/
        function member_del(id) {
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '再想想'] //按钮
            }, function() {
                $.ajax({
                    url: "{:url('agent/del')}",
                    type: 'post',
                    data: {
                        'id': id,
                    },
                    success: function(res) {
                        if (res.code === 0) {
                            layer.msg(res.msg);
                        } else {
                            layer.msg(res.msg);
                            setTimeout(function() {
                                parent.location.reload();
                            }, 1000);
                        }
                    }
                });
            })
        }
        /*用户-充值*/
        function member_re(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
        laydate.render({
            elem: '#test3' //指定元素
                ,
            calendar: true,
            theme: '#333',
            showBottom: true //false隐藏控件底部按钮
        });
        laydate.render({
            elem: '#test4' //指定元素
                ,
            calendar: true,
            theme: '#333',
            showBottom: true //false隐藏控件底部按钮
        });

        /*显示下级代理*/
        function subagent_get(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }

        function member_add_user(id) {
            var phone = browserRedirect();
            if (phone === 0) {
                area = [480 + 'px', 510 + 'px'];
            } else {
                area = ['100%', '100%'];
            }
            layer.open({
                type: 2,
                area: area,
                title: '用户添加',
                shadeClose: true,
                content: '/admin.php/admin/user/add?id=' + id //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });
        }

        /*代理-增加*/
        function daili_add(id) {
            var phone = browserRedirect();
            if (phone === 0) {
                area = [480 + 'px', 510 + 'px'];
            } else {
                area = ['100%', '100%'];
            }
            layer.open({
                type: 2,
                area: area,
                title: '下级代理添加',
                shadeClose: true,
                content: '/admin.php/admin/user/daili_add?id=' + id //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响

            });
        }

        function agent_add_s() {
            var phone = browserRedirect();
            if (phone === 0) {
                area = [480 + 'px', 510 + 'px'];
            } else {
                area = ['100%', '100%'];
            }
            layer.open({
                type: 2,
                title: '代理添加',
                area: area,
                shadeClose: true,
                content: '/admin.php/admin/agent/add'
            });
        }

        function user_add_s() {
            var phone = browserRedirect();
            if (phone === 0) {
                area = [480 + 'px', 510 + 'px'];
            } else {
                area = ['100%', '100%'];
            }
            layer.open({
                type: 2,
                title: '用户添加',
                area: area,
                shadeClose: true,
                content: '/admin.php/admin/user/designated_user'
            });
        }
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>

</html>