{include file="common:meta" /}

<title>会员管理 - 会员充值 - RSCMS_V2</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
<article class="cl pd-20">
    <form action="{:url('user/robot_recharge_save')}" method="post" class="form form-horizontal" >
        <input type="hidden" name="id" value="{$id}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>充值金额：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off" name="coin" value="">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;确认充值&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

</body>
</html>