<form class="form-inline" role="form" method="get" action="{:url('user/index')}">
    <div class="form-group">
        <span style="color: red;margin-right: 20px">代理查询</span> 昵称:<input style="width: 120px;" type="text" class="input-text" name="nickname" placeholder="请输入昵称" value="{$nickname ? $nickname : '';}">
        账号:<input style="width: 120px;" type="text" class="input-text" name="username" placeholder="请输入账号" value="{$username ? $username : '';}">
        手机号:<input style="width: 120px;" type="text" class="input-text" name="phone" placeholder="请输入手机号" value="{$phone ? $phone : '';}">
        <span class="select-box" style="width: 120px;">
                          <select name="status"  class="select">
                              <option value="" selected>请选择游客或者正式</option>
                              <option value="{$status ? $status : '0';}">游客</option>
                              <option value="{$status ? $status : '1';}">正式</option>
                          </select>
                </span>
    </div>
    <button type="submit" class="btn btn-default">查询</button>
</form>
<div class="mt-20">
    <table style="white-space: nowrap;word-break:keep-all;" class="table table-border table-bordered table-hover table-bg table-sort" id="table">
        <tr class="text-c">
            <th width="50">ID</th>
            <th>昵称</th>
            <th width="70">账号</th>
            <th>代理数量</th>
            <th>余额</th>
            <th>积分</th>
            <th>手机</th>
            <th width="">加入时间</th>
            <th>上次登录ip</th>
            <th>是否游客</th>
            <th>是否锁定</th>
            <th>操作</th>
        </tr>
        {volist name="data" id="vo"}
        <tr class="text-c">
            <td>{$vo.id}</td>
            <td>{$vo.nickname}</td>
            <td>{$vo.username}</td>
            <td>{php}echo ($vo['rgt']-$vo['lft']-1)/2;{/php}</td>
            <td>{$vo.coin}</td>
            <td>{$vo.vip_exp}</td>
            <td>{$vo.phone}</td>
            <td>{$vo.create_time}</td>
            <td>{$vo.active_ip}</td>
            <td>{$vo.status}</td>
            <td>{$vo.lock}</td>
            <td class="td-manage">
                <a href="javascript:;" onClick="member_edit('编辑','/admin.php/admin/user/edit?id={$vo.id}','4','','510')" class="ml-5" style="text-decoration:none">编辑</a>
                <a href="javascript:;" onClick="member_re('充值','/admin.php/admin/user/recharge?id={$vo.id}','4','','200')" class="ml-5" style="text-decoration:none">充值</a>
                <a style="text-decoration:none" class="ml-5" onClick="change_password('修改密码','/admin.php/admin/user/changepassword?id={$vo.id}','10001','600','270')" href="javascript:;" title="修改密码">改密</a>
                <a style="text-decoration:none" class="ml-5" onClick="zhuanYi('转移','/admin.php/admin/user/changepassword?id={$vo.id}','10001','600','270')" href="javascript:;" title="修改密码">转移</a>
                <a href="javascript:;" onclick="member_del({$vo.id})" class="ml-5" style="text-decoration:none">删除</a></td>
        </tr>
        {/volist}
    </table>
</div>
<div style="float: right;">{$page}</div>