{include file="common:meta" /}

<title>商店管理 - 商品管理 - RSCMS_V2</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>

<body>
    {include file="common:header" /} {include file="common:menu" /}
    <section class="Hui-article-box">
        <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="{:url('index/index')}">首页</a>
            <span class="c-gray en">&gt;</span> 商品管理
            <span class="c-gray en">&gt;</span> 商品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
        <div class="Hui-article">
            <article class="cl pd-20">
                <div class="cl pd-5 bg-1 bk-gray mt-20">
                    <span class="l"> <a href="javascript:;" onclick="add_product('添加商品','/admin.php/admin/shop/add_product','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加商品</a> </span>
                </div>
                <div class="mt-20">
                    <table style="white-space: nowrap;word-break:keep-all;" class="table table-border table-bordered table-hover table-bg table-sort" id="table">
                        <thead>
                            <tr class="text-c">
                                <th width="70">ID</th>
                                <th width="70">名称</th>
                                <th width="150">描述</th>
                                <th width="50">图片</th>
                                <th width="50">类型</th>
                                <th width="50">数量</th>
                                <th width="50">价格</th>
                                <th width="50">结算方式</th>
                                <th width="100">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="data" id="vo"}
                            <tr class="text-c">
                                <td>{$vo.id}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.description}</td>
                                <td>{$vo.image}</td>
                                <td>{if condition="$vo.type eq 'CARD'"}钻石{elseif condition="$vo.type eq 'COIN'"/}金币{elseif condition="$vo.type eq 'PROPS'"/}道具{elseif condition="$vo.type eq 'COMMODITY'"/}实物{else /}未知{/if}</td>
                                <td>{$vo.qty}</td>
                                <td>{$vo.price}</td>
                                <td>{if condition="$vo.currencyType eq 'RMB'"}RMB{elseif condition="$vo.currencyType eq 'CARD'"/}钻石{elseif condition="$vo.type eq 'COIN'"/}金币{else /}未知{/if}</td>
                                <td class="td-manage">
                                    <a title="编辑" href="javascript:;" onclick="edit_product('商品编辑','/admin.php/admin/shop/edit_product?id={$vo.id}','1','800','500')" class="{if condition=" $vo.id eq 1
                                        "}btn disabled radius size-MINI{else /}ml-5 btn btn-warning-outline radius size-MINI{/if}" style="text-decoration:none">编辑</a>
                                    <a title="删除" href="javascript:;" onclick="del_product('{$vo.id}')" class="ml-5 btn btn-danger-outline radius size-MINI" style="text-decoration:none">删除</a>
                                </td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </section>

    {include file="common:footer" /}

    <!--请在下方写此页面业务相关的脚本-->
    {load href="__STATIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"} {load href="__STATIC__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"} {load href="__STATIC__/admin/lib/laypage/1.2/laypage.js"}
    <script type="text/javascript">
        /*管理员-增加*/
        function add_product(title, url, w, h) {
            layer_show(title, url, w, h);
        }

        /*管理员-删除(询问层)*/
        function del_product(id) {
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '再想想'] //按钮
            }, function() {
                $.post('/admin.php/admin/shop/del_product', {
                    'id': id
                }, function(res) {
                    if (res.code === 0) {
                        layer.msg(res.msg, {
                            icon: 1
                        });
                        setTimeout(function() {
                            window.location.reload()
                        }, 1500)
                    } else if (res.code === 3) {
                        layer.msg(res.msg, {
                            icon: 2
                        });
                        setTimeout(function() {
                            window.location.reload()
                        }, 1500)
                    } else {
                        layer.msg(res.msg, {
                            icon: 2
                        });
                        setTimeout(function() {
                            window.location.reload()
                        }, 1500)
                    }
                }, 'json')
            }, function() {
                //点击取消之后的操作
            });
        }


        /*管理员-编辑*/
        function edit_product(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>

</html>